
<div class="container">
    <div class="row">
        <div class="col-6">
            {{msj}}
        </div>
        <div>
            <span>Elemento en lista: </span>
            <h1>{{ list.pacientesVM?.length }}</h1>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
        <div class="col-12">
            <app-list-pacientes #list></app-list-pacientes>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
        <div class="col-6">
            <app-upsert-paciente (fromCreation)="asignarAviso($event)"></app-upsert-paciente>
        </div>
    </div>
</div>