<h1 mat-dialog-title>Aviso</h1>
<div mat-dialog-content>
  <div class="container">
    <div class="row justify-content-center fixing">
      <div *ngIf="data.type === 'info'">
        <span class="alert">{{data.msj}}</span>
      </div>
      <div *ngIf="data.type === 'error'">
        <div *ngIf="isArray; else isString">
          <div class="container-fluid">
            <ol *ngFor="let titulo of errorKeys">
              <span *ngFor="let error of errors[titulo]">
                <span class="alert-danger">{{error}}</span>
              </span>
            </ol>
          </div>
        </div>
        <ng-template #isString>
          <span class="alert alert-danger">{{errors}}</span>
        </ng-template>
        
      </div>
      <div *ngIf="data.type === 'warning'">
        <span class="alert alert-warning">{{data.msj}}</span>
      </div>
      <div *ngIf="data.type === 'success'">
        <span class="alert alert-success">{{data.msj}}</span>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="row justify-content-end">
  <button mat-button (click)="onNoClick()">Cerrar</button>
  <button *ngIf="data.type === 'info'" mat-button (click)="confirm()">Confirmar</button>
</div>